#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #e9e9e9;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#foto01 {
    background: url(../imagens/galeria-01.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#foto02 {
    background: url(../imagens/galeria-02.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#foto03 {
    background: url(../imagens/galeria-03.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#foto04 {
    background: url(../imagens/galeria-04.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#foto05 {
    background: url(../imagens/galeria-05.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#foto06 {
    background: url(../imagens/galeria-06.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #f5f5f5;
}

#album-fotos li span {
    opacity: 0;
    color: #e9e9e9;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

#album-fotos li:hover span {
    opacity: 1;
}

#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos li:hover {
    transform: scale(1.5);
    transition: 0.5s;
}